.App {
  text-align: center;
  background-color: blue;
  
}

.container-fluid{
  display: flex;
  justify-content: space-evenly;
}


.App-header {
  background-color:pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: pink;
}


.navbar {
  color :white;
  width: 100%;
  display:flex;
  justify-content: center;
}

img.navbar-logo {
  width:150px;
  height: 150px;
}

.navbar-brand {
  margin-right: 150px;


}

.left-container {
  float: center;
  display:block;
  padding: 0;
  margin:25px;
}



.header {
  text-align: left;
  font-size: 7em;
  font-weight: bold;
  padding: 20px;
  color: gold;
  font-family: 'Courier New', Courier, monospace;

  
}

.main-content {
  display: inline-block;
  float: left;
}

img {
    height: 300px;
    width: 300px;
    float: right;
  }


.div.button-container {
  
  justify-content: flex-end;
  padding-left: 20%;

  }
button {
  margin-left:10px;
  margin-right: 10px;
}  

.custom-color{
  background-color: rgb(194, 152, 75);
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 300px;
  background-color: #4CAF50;
  color:
}

.button-container.right {
  position: absolute; /*
  right: 0;
}


.login-form {
  width: 300px; /* adjust width as needed */
  height: 300px; /* add a fixed height */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px; /* round the corners */
  box-shadow: 0px 0px 10px #ccc;
  background-color: #fafafa;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-shadow: inset 0px 0px 5px #ccc;
}

.form-text {
  font-size: 12px;
  color: #333;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

.form-check-label {
  font-size: 14px;
  color: #333;
  margin-left: 10px;
}

.btn-primary {
  background-color: #3897f0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.btn-primary:hover {
  background-color: #2b6da9;
}

.center-left {
  float: left;
  display:block;
  padding: 0;
  margin:25px;
  background-color:black;
  text-color: white;
}

.appcover {
  border-color: black;
  float: right;
  display:block;
  padding: 0;
  margin:25px;
}

.Card {
  display: flex;  
  flex-direction: row;
}
.center-left {
  float: left;
  display:block;
  padding: 0;
  margin:25px;
  background-color:black;
  text-color: white; 
}

.Select,.Decide {
  color: white;

}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.SelectButtons {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
}