.App {
  text-align: center;
  background-color: yellow
  
}

.container-fluid{
  display: flex;
  justify-content: space-evenly;
}


.App-header {
  background-color:pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: pink;
}


.navbar {
  color :white;
  width: 100%;
  display:flex;
  justify-content: space-between;
}

img.navbar-logo {
  width:150px;
  height: 150px;
}

.navbar-brand {
  margin-right: 150px;


}

.left-container {
  float: center;
  display:block;
  padding: 0;
  margin:25px;
}



.header {
  text-align: left;
  font-size: 7em;
  font-weight: bold;
  padding: 20px;
  color:blue
  
}

.main-content {
  display: inline-block;
  float: left;
}
.image {
  display: inline-block;
  margin-right: 10px;
}
.image {
  float:right;
  margin-right: 10px;
  width: 500px;
  height:500px;
  
}


.div.button-container {
  
  justify-content: flex-end;
  padding-left: 20%;

  }
button {
  margin-left:10px;
  margin-right: 10px;
}  

.custom-color{
  background-color: yellow;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  width: 300px;
  background-color: #4CAF50;
  color:
}

.button-container.right {
  position: absolute; /*
  right: 0;
}


.login-form {
  width: 300px; /* adjust width as needed */
  height: 300px; /* add a fixed height */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px; /* round the corners */
  box-shadow: 0px 0px 10px #ccc;
  background-color: #fafafa;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
  border: none;
  padding: 10px;
  box-shadow: inset 0px 0px 5px #ccc;
}

.form-text {
  font-size: 12px;
  color: #333;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

.form-check-label {
  font-size: 14px;
  color: #333;
  margin-left: 10px;
}

.btn-primary {
  background-color: #3897f0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px #ccc;
}

.btn-primary:hover {
  background-color: #2b6da9;
}

.center-button {
  text-align: center;
}